#!/usr/bin/env bash


# Call the wallpaper script
[ -e $HOME_SCRIPTS/wallpaper ] && $HOME_SCRIPTS/wallpaper 2> $LOGS/wallpaper.log &

# Status Bar
dwmblocks &

# Notificaciones
dunst &

# Battery Notifications
[ -e $HOME_SCRIPTS/battery_notifications ] && battery_notifications 2> $LOGS/battery_notification.log 1> /dev/null &

# Hotkeys
sxhkd 2> $LOGS/sxhkd.log &1 > /dev/null &

# Transparency
xcompmgr &

# REDSHIFT
redshift 1> /dev/null 2> $LOGS/redshift.log &

# Automontar discos
udiskie &

# Para escribir en chino con el IBUS
ibus-daemon -drx &

# Swaping Caps <--> Esc
setxkbmap -option caps:swapescape
