xterm*faceName: monospace:size=10:antialias=true:autohint=true

xterm*foreground: rgb:ff/ff/ff
xterm*background: rgb:00/00/00
xterm*color0: rgb:aa/aa/aa
xterm*color1: rgb:ff/00/00

xterm*locale: true
xterm*metaSendsEscape: true

xterm*colorULMode: true
xterm*colorUL: rgb:e4/e4/e4

 !GRABAR HASTA 8192 LINEAS
xterm*vt100.saveLines: 8192

 !SALTAR HASTA ARRIBA DE todo Y PARA ABAJO CON SHIFT+HOME Y SHIFT+END
xterm*vt100.translations: #override \n\
		Shift <Key>Home: scroll-back(5000) \n\
		Shift <Key>End: scroll-forw(5000)

		 !NO SCROLLEAR CON NUEVO OUTPUT
		xterm*vt100.scrollTtyOutput: false
